[submodule "salt/roots/formulas/podman-formula"]
	path = salt/roots/formulas/podman-formula
	url = https://github.com/extra2000/podman-formula.git
[submodule "salt/roots/formulas/saferwall-formula"]
	path = salt/roots/formulas/saferwall-formula
	url = https://github.com/extra2000/saferwall-formula.git
[submodule "salt/roots/formulas/cockpit-formula"]
	path = salt/roots/formulas/cockpit-formula
	url = https://github.com/extra2000/cockpit-formula.git
[submodule "salt/roots/formulas/nginx-formula"]
	path = salt/roots/formulas/nginx-formula
	url = https://github.com/extra2000/nginx-formula.git
[submodule "salt/roots/formulas/zabbix-agent-formula"]
	path = salt/roots/formulas/zabbix-agent-formula
	url = https://github.com/extra2000/zabbix-agent-formula.git
[submodule "salt/roots/formulas/filebeat-formula"]
	path = salt/roots/formulas/filebeat-formula
	url = https://github.com/extra2000/filebeat-formula.git
