# -*- mode: ruby -*-
# vi: set ft=ruby :

def salt_provision_saferwall_box(context)
  context.vm.provision "salt", run: 'once' do |salt|
    salt.minion_config = "salt/etc/minion"
    salt.masterless = true
    salt.run_highstate = false
    salt.verbose = true
    salt.log_level = "info"
    salt.colorize = true
    salt.install_type = "git"
    salt.version = "3003"
    salt.python_version = "3"
    salt.bootstrap_options = "-P -x python3 -c /tmp"
  end
end


Vagrant.configure("2") do |config|

  config.vagrant.plugins = ["vagrant-reload", "vagrant-scp"]

  config.vm.define "saferwall-box" do |saferwall_box|
    saferwall_box.vm.box = "opensuse/Leap-15.2.aarch64"
    saferwall_box.vm.hostname = "saferwall-box"

    saferwall_box.vm.provider "libvirt" do |v, override|
      override.vagrant.plugins = config.vagrant.plugins + ["vagrant-libvirt"]
      v.cpus = "4"
      v.cputopology sockets: "1", cores: "4", threads: "1"
      v.memory = "6144"
      v.disk_bus = "virtio"
      v.nic_model_type = "virtio-net-pci"
      v.nested = false
      v.cpu_mode = "custom"
      v.cpu_model = "cortex-a72"
      v.graphics_type = "none"
      v.machine_type = "virt"
      v.machine_arch = "aarch64"
      v.driver = "qemu"
      v.autostart = false

      override.vm.provision 'shell', run: 'once', inline: 'echo "send host-name \"saferwall-box\";" >> /etc/dhclient.conf', privileged: true
      salt_provision_saferwall_box override
      override.vm.provision 'reload'
    end

    ## Uncomment these lines to forward port
    # saferwall_box.vm.network "forwarded_port", guest: 443, host: 8443, protocol: "tcp"
    # saferwall_box.vm.network "forwarded_port", guest: 4150, host: 4150, protocol: "tcp"
    # saferwall_box.vm.network "forwarded_port", guest: 4151, host: 4151, protocol: "tcp"
    # saferwall_box.vm.network "forwarded_port", guest: 4152, host: 4152, protocol: "tcp"
    # saferwall_box.vm.network "forwarded_port", guest: 4160, host: 4160, protocol: "tcp"
    # saferwall_box.vm.network "forwarded_port", guest: 4161, host: 4161, protocol: "tcp"
    # saferwall_box.vm.network "forwarded_port", guest: 4171, host: 4171, protocol: "tcp"
    # saferwall_box.vm.network "forwarded_port", guest: 9000, host: 9000, protocol: "tcp"
    # saferwall_box.vm.network "forwarded_port", guest: 8091, host: 8091, protocol: "tcp"
    # saferwall_box.vm.network "forwarded_port", guest: 8092, host: 8092, protocol: "tcp"
    # saferwall_box.vm.network "forwarded_port", guest: 8093, host: 8093, protocol: "tcp"
    # saferwall_box.vm.network "forwarded_port", guest: 8094, host: 8094, protocol: "tcp"
    # saferwall_box.vm.network "forwarded_port", guest: 8095, host: 8095, protocol: "tcp"
    # saferwall_box.vm.network "forwarded_port", guest: 8096, host: 8096, protocol: "tcp"
    # saferwall_box.vm.network "forwarded_port", guest: 11210, host: 11210, protocol: "tcp"
    # saferwall_box.vm.network "forwarded_port", guest: 10004, host: 10004, protocol: "tcp"
    # saferwall_box.vm.network "forwarded_port", guest: 10005, host: 10005, protocol: "tcp"
    # saferwall_box.vm.network "forwarded_port", guest: 10011, host: 10011, protocol: "tcp"
    # saferwall_box.vm.network "forwarded_port", guest: 10014, host: 10014, protocol: "tcp"

    saferwall_box.vm.synced_folder "salt/roots/", "/srv/", type: "rsync"
    saferwall_box.vm.synced_folder '.', '/vagrant', disabled: true
  end
end
