# -*- coding: utf-8 -*-
# vim: ft=yaml

saferwall:
  lookup:
    hostuser:
      name: vagrant
      group: vagrant
    pod:
      network:
        subnet: 10.77.1.0/24
        gateway: 10.77.1.1
    service:
      ui:
        port:
          container: 80
          host: 8000
        resources:
          requests:
            memory: 10Mi
          limits:
            memory: 20Mi
      backend:
        admin:
          user: admin
          password: abcde12345
          email: admin@example.com
        max_file_size: 32000000  # 32MB
        max_avatar_file_size: 10000000  # 10MB
        signkey: jwt_secret_auth_key
        port:
          container: 8080
          host: 8080
        resources:
          requests:
            memory: 200Mi
          limits:
            memory: 300Mi
      consumer:
        resources:
          requests:
            memory: 3000Mi
          limits:
            memory: 3100Mi
      nsq:
        port:
          tcp:
            container: 4150
            host: 4150
          http:
            container: 4151
            host: 4151
          https:
            container: 4152
            host: 4152
        resources:
          requests:
            memory: 10Mi
          limits:
            memory: 20Mi
        nsqlookup:
          port:
            tcp:
              container: 4160
              host: 4160
            http:
              container: 4161
              host: 4161
          resources:
            requests:
              memory: 10Mi
            limits:
              memory: 20Mi
        nsqadmin:
          port:
            container: 4171
            host: 4171
          resources:
            requests:
              memory: 10Mi
            limits:
              memory: 20Mi
      minio:
        accesskey: minio
        seckey: minio123
        port:
          container: 9000
          host: 9000
        resources:
          requests:
            memory: 400Mi
          limits:
            memory: 500Mi
      couchbase:
        username: Administrator
        password: abcde12345
        port:
          rest_port:
            container: 8091
            host: 8091
          capi_port:
            container: 8092
            host: 8092
          query_port:
            container: 8093
            host: 8093
          fts_http_port:
            container: 8094
            host: 8094
          cbas_http_port:
            container: 8095
            host: 8095
          eventing_http_port:
            container: 8096
            host: 8096
          memcached_http_port:
            container: 11210
            host: 11210
        resources:
          requests:
            memory: 2500Mi
          limits:
            memory: 2600Mi
      multiav:
        clamav:
          enabled: true
          port:
            container: 10004
            host: 10004
          resources:
            requests:
              memory: 2100Mi
            limits:
              memory: 2200Mi
        comodo:
          enabled: true
          port:
            container: 10005
            host: 10005
          resources:
            requests:
              memory: 300Mi
            limits:
              memory: 350Mi
        sophos:
          enabled: true
          port:
            container: 10011
            host: 10011
          resources:
            requests:
              memory: 300Mi
            limits:
              memory: 350Mi
        windefender:
          enabled: true
          port:
            container: 10014
            host: 10014
          resources:
            requests:
              memory: 400Mi
            limits:
              memory: 450Mi
