# -*- coding: utf-8 -*-
# vim: ft=yaml

zabbix_agent:
  lookup:
    hostuser:
      name: vagrant
      group: vagrant
    storage_devices:
      - /dev/vda
    storage_mounts:
      - name: rootfs
        host_path: /
        container_path: /rootfs
    config:
      hostname: saferwall-box
      start_agents: 3
      zabbix_server:
        host: zabbix-box
        port: 10051
      passive_check: true
      active_check: true
