[req]
default_bits={{ pillar['nginx']['ssl']['default-bits'] }}
prompt=no
distinguished_name=dn

[dn]
C={{ pillar['nginx']['ssl']['country'] }}
ST={{ pillar['nginx']['ssl']['state'] }}
L={{ pillar['nginx']['ssl']['city'] }}
O={{ pillar['nginx']['ssl']['organization-name'] }}
OU={{ pillar['nginx']['ssl']['organization-unit'] }}
CN={{ pillar['nginx']['ssl']['common-name'] }}
emailAddress={{ pillar['nginx']['ssl']['email'] }}
